git+https://github.com/moj-analytical-services/dataengineeringutils.git
git+https://github.com/moj-analytical-services/mojap-metadata.git
numpy==1.21.0
pandas==1.1.5
boto3==1.23.7
requests==2.27.1
pydbtools==2.0.2
pyarrow==13.0.0
ipykernel==6.25.2